<li class="main-navigation_item --has-dropdown">
  <strong id="{{ link.title | replace: ' ', '' | escape }}-heading" class="visually-hidden">{{ link.title | escape }}</strong>
  <dropdown-component data-dropdown-level="1">
    {%- assign badge_iteration = 0 -%}
    <button
      type="button"
      class="dropdown-component_opener main-navigation_dropdown-opener"
      aria-expanded="false"
      aria-controls="{{ link.title | replace: ' ', '' }}-dropdown"
      aria-describedby="{{ link.title | replace: ' ', '' | escape }}-heading"
    >
      {{ link.title | escape }}
      {% for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'menu_badge' -%}
            {%- assign curr_badge_index = block.settings.badge_item_index | times: 1 -%}
            {% if block.settings.menu_item_badge_label != blank and curr_badge_index == main_item_index and badge_iteration != 1 %}
              <strong class="main-navigation_badge" style="--menu-badge-bg: {{ block.settings.background_color }}; --menu-badge-text: {{ block.settings.text_color }};" {{ block.shopify_attributes }}>{{- block.settings.menu_item_badge_label -}}</strong>
              {%- assign badge_iteration = 1 -%}
            {% endif %}
        {%- endcase -%}
      {%- endfor %}
      {%- render 'icons-data', width: 8, height: 8, use_icon: true, icon_reference: 'caret-down' -%}
    </button>
    <div class="dropdown-component_wrapper" id="{{ link.title | replace: ' ', '' }}-dropdown">
      <ul class="list-unstyled main-dropdown_list main-navigation_dropdown-list">
        {%- for childlink in link.links -%}
          <li class="main-dropdown_item {% if childlink.links != blank %}--has-dropdown{% endif %}">
            {%- if childlink.links == blank -%}
              {% if show_collection_image and childlink.type == 'collection_link' and childlink.object.featured_image != blank %}
                {% assign is_show_collection_image = true %}
              {% endif %}
              <a
                href="{{ childlink.url }}"
                class="main-dropdown_link {% if is_show_collection_image %} main-dropdown_has-collection-image{% endif %}{% if childlink.current %} main-dropdown_link--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}
                data-level="1"
              >
                {{ childlink.title | escape }}
              </a>
              {%- else -%}
                <strong id="{{ childlink.title | replace: ' ', '' | escape }}-heading" class="visually-hidden">{{ childlink.title | escape }}</strong>
                <dropdown-component data-dropdown-level="2">
                  <button
                    type="button"
                    class="dropdown-component_opener main-dropdown_link"
                    aria-expanded="false"
                    aria-controls="{{ childlink.title | replace: ' ', '' }}-dropdown"
                    aria-describedby="{{ childlink.title | replace: ' ', '' | escape }}-heading"
                    data-level="1"
                  >
                    {{ childlink.title | escape }}
                    {%- render 'icons-data', width: 8, height: 8, use_icon: true, icon_reference: 'caret-down' -%}
                  </button>
                  <div class="dropdown-component_wrapper" id="{{ childlink.title | replace: ' ', '' }}-dropdown">
                    <ul class="list-unstyled main-dropdown_list">
                      {%- for grandchildlink in childlink.links -%}
                        <li class="main-dropdown_item">
                          <a
                            href="{{ grandchildlink.url }}"
                            class="main-dropdown_link --inner-dropdown-link {% if grandchildlink.current %} main-dropdown_link--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}
                            data-level="2"
                          >
                            {{ grandchildlink.title | escape }}
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>
                </dropdown-component>
            {%- endif -%}
          </li>
        {%- endfor -%}
      </ul>
    </div>
  </dropdown-component>
</li>