{%- liquid
  assign section_prefix_class = 'article-card'
  
  capture blog_title
    if article.title != blank
      echo article.title
      else
        echo 'templates.blogs.on_boarding.title' | t
    endif
  endcapture
  
  capture blog_author
    if article.author != blank
      echo article.author
      else
        echo 'templates.blogs.on_boarding.author' | t
    endif
  endcapture
  
  capture blog_date
    if article.published_at != blank
      echo article.published_at | time_tag: format: 'date'
      else
        echo '2024-12-12' | time_tag: format: 'date'
    endif
  endcapture
-%}
<article class="{{ section_prefix_class }}">
  {% if show_image %}
    <a href="{{ article.url }}" class="{{ section_prefix_class }}_card-media {% if settings.enable_hover_anims %}anim--shine{% endif %}">
      {%- render 'element-image' | elem_image: article.image | elem_image_class: 'image-class' | elem_image_placeholder: 'collection-3' | elem_image_alt_text: blog_title -%}
      {%- if article.image == blank -%}
        <span class="visually-hidden" style="color: #000;">{{- blog_title -}}</span>
      {%- endif -%}
    </a>
  {% endif %}
  <div class="{{ section_prefix_class }}_card-content">
    <div class="{{ section_prefix_class }}_info">
      {%- if show_author -%}
        <span class="{{ section_prefix_class }}_author">{{- blog_author -}}</span>
      {%- endif -%}
      {%- if show_date or show_comments -%}
        <div class="{{ section_prefix_class }}_card-info">
          {%- if show_date -%}
            <span class="{{ section_prefix_class }}_date">{{- blog_date -}}</span>
          {%- endif -%}
          {%- if show_comments -%}
            {%- if article.comments_count > 0 and section.settings.blog.comments_enabled? -%}
              <span class="{{ section_prefix_class }}_comments">{{- 'templates.blogs.article.comments' | t: count: article.comments_count -}}</span>
            {%- endif -%}
          {%- endif -%}
        </div>
      {%- endif -%}
    </div>
    {%- render 'element-heading' | elem_heading_tag: 'h3' | elem_heading_parent: section_prefix_class | elem_heading_size: section.settings.block_heading_size | elem_heading_text: blog_title | elem_heading_custom_class: 'mty' | elem_heading_link: article.url -%}
    {%- if show_excerpt -%}
      {%- if article.excerpt_or_content.size > 0 -%}
        <p class="article-card__excerpt mty">
          {{- article.excerpt_or_content | strip_html | truncatewords: 30 -}}
        </p>
        {%- else -%}
          <p>
            {{- 'templates.blogs.on_boarding.excerpt' | t -}}
          </p>
      {%- endif -%}
    {%- endif -%}
    <a
      {% if article.url != blank %}href="{{ article.url }}"{% else %}aria-disabled="true"{% endif %}
      class="{{ section_prefix_class }}_link"
    >
      {{- 'templates.blogs.article.read_more' | t -}}
    </a>
  </div>
</article>