{{ 'contact-form.css' | asset_url | stylesheet_tag }}

{% assign section_prefix_class = 'contact-form' %}

{%- style -%}
  .{{ section_prefix_class }}-{{ section.id }}{
    --section-padding-top: {{ section.settings.section_top_padding }}px;
    --section-padding-bottom: {{ section.settings.section_bottom_padding }}px;
  }
{%- endstyle -%}

{% liquid
  assign section_scheme_class = section.settings.section_color_scheme | prepend: 'scheme scheme--'
%}

<div class="{{ section_prefix_class }} {{ section_scheme_class }} {{ section_prefix_class }}-{{ section.id }}">
  <div class="container">
    {%- if section.settings.timings != '' -%}
      <div class="{{ section_prefix_class }}_timings">{{ section.settings.timings }}</div>
    {%- endif -%}
    {%- if section.settings.address != '' -%}
      <address class="{{ section_prefix_class }}_address">{{ section.settings.address }}</address>
    {%- endif -%}
    <div class="{{ section_prefix_class }}_row">
      {%- if section.settings.map_url != '' -%}
        <div class="{{ section_prefix_class }}_col col-desktop-half">
          <div class="{{ section_prefix_class }}_map-wrap">
            {{- section.settings.map_url -}}
          </div>
        </div>
      {%- endif -%}
      <div class="{{ section_prefix_class }}_col col-desktop-half">
        {%- render 'element-heading' | elem_heading_tag: 'h2' | elem_heading_parent: section_prefix_class | elem_heading_text: section.settings.heading | elem_heading_size: section.settings.heading_size | elem_heading_custom_class: 'mty' -%}
        <p class="mty">{{ section.settings.text }}</p>
        {%- form 'contact', id: 'ContactForm', class: 'isolate' -%}
          <h2 class="visually-hidden">{{ 'templates.contact.form.title' | t }}</h2>
          {%- if form.posted_successfully? -%}
            <div class="form__message success_message mty" tabindex="-1" autofocus>
              {{ 'templates.contact.form.post_success' | t }}
            </div>
          {%- elsif form.errors != blank -%}
            <h2 class="form__message mty" role="alert" tabindex="-1" autofocus>
              {%- render 'icons-data', width: 20, height: 20, use_icon: true, icon_reference: 'error' -%}
              {{ 'templates.contact.form.error_heading' | t }}
            </h2>
            <ul class="errors_list">
              <li>
                <smooth-anchor data-offset=".sticky-header-wrapper">
                  <a class="link" href="#ContactForm-email">
                    {{ form.errors.translated_fields.email | capitalize }}
                    {{ form.errors.messages.email }}
                  </a>
                </smooth-anchor>
              </li>
            </ul>
          {%- endif -%}
          <div class="contact__fields">
            <div class="field">
              <label for="ContactForm-name" class="visually-hidden">{{ 'templates.contact.form.name' | t }}</label>
              <input
                autocomplete="name"
                type="text"
                id="ContactForm-name"
                name="contact[{{ 'templates.contact.form.name' | t }}]"
                value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
                placeholder="{{ 'templates.contact.form.name' | t }}"
                class="form-control form-control--secondary"
              >
            </div>
            <div class="field field--with-error">
              <label for="ContactForm-email" class="visually-hidden">{{ 'templates.contact.form.email' | t }}</label>
              <input
                autocomplete="email"
                type="email"
                id="ContactForm-email"
                name="contact[email]"
                onkeydown="validation()"
                spellcheck="false"
                autocapitalize="off"
                aria-required="true"
                value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                {% if form.errors contains 'email' %}
                  aria-invalid="true"
                  aria-describedby="ContactForm-email-error-{{ section.id }}"
                {% endif %}
                placeholder="{{ 'templates.contact.form.email' | t }}*"
                class="form-control form-control--secondary"
              >
              <div class="{{ section_prefix_class }}_results-wrap results-wrap_message">
                <div class="{{ section_prefix_class }}_errors-wrap">
                  {%- if form.errors contains 'email' -%}
                    <small class="contact__field-error" id="ContactForm-email-error-{{ section.id }}">
                      <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                      <span class="form__message {{ section_prefix_class }}_error">
                        {%- render 'icons-data', width: 17, height: 17, use_icon: true, icon_reference: 'error' -%}
                        {{- form.errors.translated_fields.email | capitalize }}
                        {{ form.errors.messages.email -}}
                      </span>
                    </small>
                  {%- endif -%}
                </div>
              </div>
            </div>
          </div>
          <div class="field">
            <label for="ContactForm-phone" class="visually-hidden">{{ 'templates.contact.form.phone' | t }}</label>
            <input
              type="tel"
              id="ContactForm-phone"
              autocomplete="tel"
              name="contact[{{ 'templates.contact.form.phone' | t }}]"
              pattern="[0-9\-]*"
              value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
              placeholder="{{ 'templates.contact.form.phone' | t }}"
              class="form-control form-control--secondary"
            >
          </div>
          <div class="field">
            <label for="ContactForm-body" class="visually-hidden">{{ 'templates.contact.form.comment' | t }}</label>
            <textarea
              rows="10"
              id="ContactForm-body"
              name="contact[{{ 'templates.contact.form.comment' | t }}]"
              placeholder="{{ 'templates.contact.form.comment' | t }}"
              class="form-control form-control--secondary"
            >
              {{- form.body -}}
            </textarea>
          </div>
          <div class="contact__button">
            <button type="submit" class="button button--secondary">
              {{ 'templates.contact.form.send' | t }}
            </button>
          </div>
        {%- endform -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.contact_form.name",
  "tag": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "timings",
      "default": "Monday – Friday: 10:00am – 7:30pm,     Saturday: 10:00am – 6:00pm,     Sunday: 11:00am – 6:00pm",
      "label": "t:sections.contact_form.settings.timing.label"
    },
    {
      "type": "inline_richtext",
      "id": "address",
      "default": "123 Main Street, Apt 4B, Anytown, USA 12345",
      "label": "t:sections.contact_form.settings.address.label"
    },
    {
      "type": "textarea",
      "id": "map_url",
      "label": "t:sections.contact_form.settings.map_url.label",
      "default": "<iframe src=\"https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3115.3259575492275!2d-90.4420986!3d38.66437630000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87df32a51671812b%3A0x1f980197453245c9!2s456%20N%20New%20Ballas%20Rd%2C%20Creve%20Coeur%2C%20MO%2063141%2C%20USA!5e0!3m2!1sen!2s!4v1703092233883!5m2!1sen!2s\" width=\"590\" height=\"750\" allowfullscreen=\"\" loading=\"lazy\" referrerpolicy=\"no-referrer-when-downgrade\"></iframe>",
      "info": "t:sections.contact_form.settings.map_url.info"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Get in Touch",
      "label": "t:sections.common.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:sections.common.heading.size.label",
      "options": [
        {
          "value": "heading_xx_large",
          "label": "t:sections.common.heading.size.options.opt_1.label"
        },
        {
          "value": "heading_x_large",
          "label": "t:sections.common.heading.size.options.opt_2.label"
        },
        {
          "value": "heading_large",
          "label": "t:sections.common.heading.size.options.opt_3.label"
        },
        {
          "value": "heading_medium",
          "label": "t:sections.common.heading.size.options.opt_4.label"
        },
        {
          "value": "heading_small",
          "label": "t:sections.common.heading.size.options.opt_5.label"
        },
        {
          "value": "heading_x_small",
          "label": "t:sections.common.heading.size.options.opt_6.label"
        },
        {
          "value": "heading_xx_small",
          "label": "t:sections.common.heading.size.options.opt_7.label"
        }
      ],
      "default": "heading_large"
    },
    {
      "type": "inline_richtext",
      "id": "text",
      "default": "Our friendly team would love to hear from you",
      "label": "t:sections.common.description.label"
    },
    {
      "type": "header",
      "content": "t:sections.common.style.content"
    },
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "default": "scheme1",
      "label": "t:sections.common.clr_scheme.label"
    },
    {
      "type": "header",
      "content": "t:sections.common.spacing.content"
    },
    {
      "type": "range",
      "id": "section_top_padding",
      "label": "t:sections.common.spacing.top_spac.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 50,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "section_bottom_padding",
      "label": "t:sections.common.spacing.bottom_spac.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 50,
      "unit": "px"
    }
  ],
  "presets": [
    {
      "name": "t:sections.contact_form.name"
    }
  ]
}
{% endschema %}
