{{ 'newsletter-form.css' | asset_url | stylesheet_tag }}
{{ 'email-signup.css' | asset_url | stylesheet_tag }}

{%- assign section_prefix_class = 'email-signup' -%}
{%- style -%}
  .{{ section_prefix_class }}-{{ section.id }}{
    --section-padding-top: {{ section.settings.section_top_padding }}px;
    --section-padding-bottom: {{ section.settings.section_bottom_padding }}px;
  }
{%- endstyle -%}

{%- liquid
  assign section_align_class = '--align-left'
  assign section_scheme_class = section.settings.section_color_scheme | prepend: 'scheme scheme--'

  if section.settings.section_text_alignment == 'center'
    assign section_align_class = '--align-center'
  elsif section.settings.section_text_alignment == 'right'
    assign section_align_class = '--align-right'
  endif
  
  assign section_scheme_class_cont = section_scheme_class
  assign section_side_spacing_cont = 'section_side_spacing_cont'

  if section.settings.mobile_text_alignment
    assign section_align_class_mobile = '--mobile-align-center'
  endif
-%}

<div class="{{ section_prefix_class }} {{ section_prefix_class }}-{{ section.id }} {{ section_align_class_mobile }} {{ section_align_class }}">
  <div class="container">
    <div class="{{ section_prefix_class }}_wrapper {{ section_scheme_class_cont }} {{ section_side_spacing_cont }}">
      <div class="{{ section_prefix_class }}_image {% if section.settings.image == blank %}{{ section_prefix_class }}_image--has-bg{% endif %} {% if settings.enable_hover_anims %}anim--shine{% endif %}">
        {%- render 'element-image' | elem_image: section.settings.image | elem_image_class: 'image-class' | elem_image_placeholder: 'image' -%}
      </div>
      <div class="{{ section_prefix_class }}_description">
        <div class="{{ section_prefix_class }}_align">
          <i class="{{ section_prefix_class }}_icn-wrapper mty">
            {%- render 'icons-data', width: 107, height: 110, use_icon: true, icon_reference: 'letter-envelope' -%}
          </i>
          {%- liquid
            if section.settings.heading != blank
              render 'element-heading' | elem_heading_tag: 'h2' | elem_heading_parent: section_prefix_class | elem_heading_text: section.settings.heading | elem_heading_custom_class: 'mty' | elem_heading_size: section.settings.section_heading_size
            endif
          -%}
          {%- if section.settings.section_description != blank -%}
            <div class="{{ section_prefix_class }}_text text-subtitle">
              <p>{{- section.settings.section_description -}}</p>
            </div>
          {%- endif -%}
          {%- render 'newsletter-form' | newsletter_form_id: 'newsletterSignupForm' -%}
          {%- if section.settings.show_social_media_icons -%}
            <div class="{{ section_prefix_class }}_socials-wrap">
              {%- render 'social-icons' | social_icons_prefix: section_prefix_class -%}
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.email_signup.name",
  "tag": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.common.image.label"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:sections.common.heading.label",
      "default": "Subscribe to Newsletter"
    },
    {
      "type": "select",
      "id": "section_heading_size",
      "label": "t:sections.common.heading.size.label",
      "options": [
        {
          "value": "heading_xx_large",
          "label": "t:sections.common.heading.size.options.opt_1.label"
        },
        {
          "value": "heading_x_large",
          "label": "t:sections.common.heading.size.options.opt_2.label"
        },
        {
          "value": "heading_large",
          "label": "t:sections.common.heading.size.options.opt_3.label"
        },
        {
          "value": "heading_medium",
          "label": "t:sections.common.heading.size.options.opt_4.label"
        },
        {
          "value": "heading_small",
          "label": "t:sections.common.heading.size.options.opt_5.label"
        },
        {
          "value": "heading_x_small",
          "label": "t:sections.common.heading.size.options.opt_6.label"
        },
        {
          "value": "heading_xx_small",
          "label": "t:sections.common.heading.size.options.opt_7.label"
        }
      ],
      "default": "heading_large"
    },
    {
      "type": "inline_richtext",
      "id": "section_description",
      "label": "t:sections.common.description.label",
      "default": "Subscribe and receive exclusive information and offers!"
    },
    {
      "type": "header",
      "content": "t:sections.email_signup.settings.social_list.content",
      "info": "t:sections.email_signup.settings.social_list.info"
    },
    {
      "type": "checkbox",
      "id": "show_social_media_icons",
      "label": "t:sections.email_signup.settings.social_list.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.common.layout.content"
    },
    {
      "type": "select",
      "id": "section_text_alignment",
      "label": "t:sections.common.text_align.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.common.text_align.options.opt_1.label"
        },
        {
          "value": "center",
          "label": "t:sections.common.text_align.options.opt_2.label"
        },
        {
          "value": "right",
          "label": "t:sections.common.text_align.options.opt_3.label"
        }
      ],
      "default": "center"
    },
    {
      "type": "checkbox",
      "id": "mobile_text_alignment",
      "label": "t:sections.common.cntr_mob.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.common.style.content"
    },
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "default": "scheme4",
      "label": "t:sections.common.clr_scheme.label"
    },
    {
      "type": "header",
      "content": "t:sections.common.spacing.content"
    },
    {
      "type": "range",
      "id": "section_top_padding",
      "label": "t:sections.common.spacing.top_spac.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 50,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "section_bottom_padding",
      "label": "t:sections.common.spacing.bottom_spac.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 50,
      "unit": "px"
    }
  ],
  "presets": [
    {
      "name": "t:sections.email_signup.name"
    }
  ]
}
{% endschema %}