{{ 'product-card.css' | asset_url | stylesheet_tag }}
{{ 'featured-collection.css' | asset_url | stylesheet_tag }}

{% assign section_prefix_class = 'featured-collection' %}
{%- style -%}
  .{{ section_prefix_class }}-{{ section.id }}{
    --section-padding-top: {{ section.settings.section_top_padding }}px;
    --columns-count: {{ section.settings.number_of_columns_on_desktop }};
    --section-padding-bottom: {{ section.settings.section_bottom_padding }}px;
  }

  {%- assign query = section.settings.mob_cols_query | append: 'px' -%}
  @media (min-width: {{ query }}) and (max-width: 767px){
    .{{ section_prefix_class }}-{{ section.id }}{
      --columns-count-mob: {{ section.settings.number_of_columns_on_mobile }};
    }
  }
{%- endstyle -%}

{% liquid
  assign section_align_class = '--align-left'
  assign section_scheme_class = section.settings.section_color_scheme | prepend: 'scheme scheme--'

  if section.settings.section_text_alignment == 'center'
    assign section_align_class = '--align-center'
  elsif section.settings.section_text_alignment == 'right'
    assign section_align_class = '--align-right'
  endif

  if section.settings.mobile_text_alignment
    assign section_align_class_mobile = '--mobile-align-center'
  endif

  assign offer_status = false
  if section.settings.end_date != blank
    assign offer_status = true
  endif

  assign product_image_ratio_class = ''
  case section.settings.column_image_ratio
    when 'portrait'
      assign product_image_ratio_class = '--portrait-media'
    when 'square'
      assign product_image_ratio_class = '--square-media'
    when 'landscape'
      assign product_image_ratio_class = '--landscape-media'
    else
      assign product_image_ratio_class = '--adapt-media'
  endcase
  assign section_media_size_class = product_image_ratio_class

  case section.settings.pagination
    when 'dots'
      assign slideshow_pagination_style = '--pagination_dots'
    when 'lines'
      assign slideshow_pagination_style = '--pagination_lines'
    when 'numbers'
      assign slideshow_pagination_style = '--pagination_numbers'
    else
      assign slideshow_pagination_style = 'none'
  endcase
%}

{% if section.settings.collection.products %}
  <script src="{{ 'product.js' | asset_url }}" defer="defer"></script>
{% endif %}
<div class="{{ section_prefix_class }} {{ section_media_size_class }} {{ section_scheme_class }} {{ section_prefix_class }}-{{ section.id }} {{ section_align_class_mobile }} {{ section_align_class }}">
  <div class="{{ section_prefix_class }}_wrapper">
    <div class="container">
      <div class="{{ section_prefix_class }}_holder">
        {%- liquid
          unless section.settings.section_heading == blank
            render 'element-header' | elem_header_heading_tag: 'h2' | elem_header_offer_enabled: offer_status
          endunless
        -%}
        {% unless section.settings.enable_slideshow == false %}
          <div class="{{ section_prefix_class }}_slider">
            <splide-slider
              data-drag="true"
              data-autoplay="{{ section.settings.auto_play }}"
              data-pause-on-hover="true"
              data-gap="15px"
              data-per-move="1"
              data-type="slide"
              data-arrows="{{ section.settings.show_navigation }}"
              {% unless slideshow_pagination_style == 'none' %}
                data-pagination="true"
              {% else %}
                data-pagination="false"
              {% endunless %}
              data-per-page="1"
              data-interval="{{ section.settings.change_slides_every | times: 1000 }}"
              data-breakpoints='{"responsive": {"576": {"perPage": 2},"992": {"perPage": 3,"gap": "28px"},"1200": {"perPage": {{ section.settings.number_of_columns_on_desktop }},"gap": "28px"}}}'
              {% unless slideshow_pagination_style == 'none' %}
                data-pagination-style="{{ slideshow_pagination_style }}"
              {% endunless %}
            >
              <div class="splide collection-slider">
                <div class="splide__track">
                  <div class="splide__list">
                    {% liquid
                      assign collection_all_products_count = section.settings.collection.all_products_count
                      assign products_to_show = section.settings.number_of_columns_on_desktop | times: section.settings.number_of_rows
                    %}
                    {% if section.settings.collection.products == blank %}
                      {% for product in (1..products_to_show) %}
                        <div class="splide__slide {{ section.id }}-{{ block.id }}" {{ block.shopify_attributes }}>
                          <article class="product-column {% if section.settings.hide_info_bar_on_mob %}--hide-infos-mob{% endif %} {% if section.settings.hide_qty_field_on_mob %}--hide-qty-mob{% endif %} {{ section.id }}-{{ product.id }} {% if section.settings.section_view_layout != 'section_layout_i' %}product-column--card{% endif %}">
                            {% if section.settings.section_view_layout == 'section_layout_ii' %}
                              {% render 'product-column-card',
                                product: product,
                                product_form_id: product_form_id,
                                js_contents_prefix: js_contents_prefix,
                                productJson: productJson,
                                column_index: forloop.index
                              %}
                            {% else %}
                              {% render 'product-card',
                                product: product,
                                product_form_id: product_form_id,
                                js_contents_prefix: js_contents_prefix,
                                productJson: productJson,
                                column_index: forloop.index
                              %}
                            {% endif %}
                          </article>
                        </div>
                      {% endfor %}
                    {% endif %}
                    {% for product in section.settings.collection.products limit: products_to_show %}
                      {% liquid
                        assign productJson = all_products[product]
                        assign js_contents_prefix = 'js-contents--'
                        assign product_form_id = section.id | append: product.id | append: forloop.index
                      %}
                      <div class="splide__slide {{ section.id }}-{{ block.id }}" {{ block.shopify_attributes }}>
                        <article class="product-column {% if section.settings.hide_info_bar_on_mob %}--hide-infos-mob{% endif %} {% if section.settings.hide_qty_field_on_mob %}--hide-qty-mob{% endif %} {{ section.id }}-{{ product.id }} {% if section.settings.section_view_layout != 'section_layout_i' %}product-column--card{% endif %}">
                          {% if section.settings.section_view_layout == 'section_layout_ii' %}
                            {% render 'product-column-card',
                              product: product,
                              product_form_id: product_form_id,
                              js_contents_prefix: js_contents_prefix,
                              productJson: productJson,
                              column_index: forloop.index
                            %}
                          {% else %}
                            {% render 'product-card',
                              product: product,
                              product_form_id: product_form_id,
                              js_contents_prefix: js_contents_prefix,
                              productJson: productJson,
                              column_index: forloop.index
                            %}
                          {% endif %}
                        </article>
                      </div>
                    {% endfor %}
                  </div>
                </div>
                {%- if section.settings.show_navigation or section.settings.pagination != 'none' -%}
                  <div class="splide-controls">
                    {%- if section.settings.show_navigation -%}
                      <button class="splide__arrow splide__arrow--prev">
                        <span class="visually-hidden">{{- 'sections.slideshow.previous_slideshow' | t -}}</span>
                        {%- render 'icons-data', width: 14, height: 14, use_icon: true, icon_reference: 'arrow-left' -%}
                      </button>
                    {%- endif -%}
                    <ul class="splide__pagination" role="tablist" aria-label="{{ 'additions.slideshow.select' | t }}"></ul>
                    {%- if section.settings.show_navigation -%}
                      <button class="splide__arrow splide__arrow--next">
                        <span class="visually-hidden">{{- 'sections.slideshow.next_slideshow' | t -}}</span>
                        {%- render 'icons-data', width: 14, height: 14, use_icon: true, icon_reference: 'arrow-right' -%}
                      </button>
                    {%- endif -%}
                  </div>
                {%- endif -%}
              </div>
            </splide-slider>
            {% if section.settings.enable_show_more_button %}
              {% if collection_all_products_count > products_to_show %}
                <footer class="button-wrap">
                  {%- render 'element-button' | element_button_label: section.settings.show_more_button_label | element_button_link: section.settings.collection.url | elem_button_type: 'secondary' -%}
                </footer>
              {% endif %}
            {% endif %}
          </div>
        {% else %}
          {%- render 'grid-columns',
            grid_column_blocks: section.settings.collection.products,
            grid_column_card: 'product',
            grid_column_section_prefix: section_prefix_class
          -%}
        {% endunless %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.featured_collection.name",
  "tag": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured_collection.settings.collection.label"
    },
    {
      "type": "text",
      "id": "end_date",
      "label": "t:sections.common.count_timer.offer_label.label",
      "placeholder": "YYYY/MM/DD",
      "info": "t:sections.common.count_timer.count_timer_end.info"
    },
    {
      "type": "inline_richtext",
      "id": "end_message",
      "label": "t:sections.common.count_timer.count_message.label",
      "info": "t:sections.common.count_timer.count_message.info"
    },
    {
      "type": "inline_richtext",
      "id": "section_heading",
      "label": "t:sections.common.heading.label",
      "default": "Featured collection"
    },
    {
      "type": "select",
      "id": "section_heading_size",
      "label": "t:sections.common.heading.size.label",
      "options": [
        {
          "value": "heading_xx_large",
          "label": "t:sections.common.heading.size.options.opt_1.label"
        },
        {
          "value": "heading_x_large",
          "label": "t:sections.common.heading.size.options.opt_2.label"
        },
        {
          "value": "heading_large",
          "label": "t:sections.common.heading.size.options.opt_3.label"
        },
        {
          "value": "heading_medium",
          "label": "t:sections.common.heading.size.options.opt_4.label"
        },
        {
          "value": "heading_small",
          "label": "t:sections.common.heading.size.options.opt_5.label"
        },
        {
          "value": "heading_x_small",
          "label": "t:sections.common.heading.size.options.opt_6.label"
        },
        {
          "value": "heading_xx_small",
          "label": "t:sections.common.heading.size.options.opt_7.label"
        }
      ],
      "default": "heading_large"
    },
    {
      "type": "inline_richtext",
      "id": "section_description",
      "label": "t:sections.common.description.label"
    },
    {
      "type": "checkbox",
      "id": "enable_show_more_button",
      "label": "t:sections.featured_collection.settings.view_more.enable.label",
      "default": true
    },
    {
      "type": "text",
      "id": "show_more_button_label",
      "label": "t:sections.featured_collection.settings.view_more.label",
      "default": "View all deals"
    },
    {
      "type": "header",
      "content": "t:sections.common.grid.content"
    },
    {
      "type": "range",
      "id": "number_of_columns_on_desktop",
      "label": "t:sections.common.grid.num_col_d.label",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 4
    },
    {
      "type": "range",
      "id": "number_of_rows",
      "label": "t:sections.common.grid.num_row_d.label",
      "min": 1,
      "max": 3,
      "step": 1,
      "default": 2
    },
    {
      "type": "select",
      "id": "number_of_columns_on_mobile",
      "label": "t:sections.common.grid.num_col_mob.label",
      "info": "t:sections.common.grid.num_col_mob.info_small",
      "options": [
        {
          "value": "1",
          "label": "t:sections.common.grid.num_col_mob.options.opt_1.label"
        },
        {
          "value": "2",
          "label": "t:sections.common.grid.num_col_mob.options.opt_2.label"
        }
      ],
      "default": "2"
    },
    {
      "type": "range",
      "id": "mob_cols_query",
      "label": "t:sections.common.grid.num_col_mob.query.label",
      "min": 416,
      "max": 640,
      "step": 4,
      "default": 576,
      "info": "t:sections.common.grid.num_col_mob.query.info"
    },
    {
      "type": "checkbox",
      "id": "hide_qty_field_on_mob",
      "label": "t:sections.common.grid.hide_atc.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "hide_info_bar_on_mob",
      "label": "t:sections.common.grid.hide_info_bar.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.featured_collection.settings.product_card.content"
    },
    {
      "type": "select",
      "id": "column_image_ratio",
      "label": "t:sections.common.image.ratio.label",
      "options": [
        {
          "value": "adapt_to_image",
          "label": "t:sections.common.image.ratio.options.opt_1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.common.image.ratio.options.opt_2.label"
        },
        {
          "value": "square",
          "label": "t:sections.common.image.ratio.options.opt_3.label"
        },
        {
          "value": "landscape",
          "label": "t:sections.common.image.ratio.options.opt_4.label"
        }
      ],
      "default": "adapt_to_image"
    },
    {
      "type": "select",
      "id": "section_view_layout",
      "label": "t:sections.common.layout.view.label",
      "info": "t:sections.featured_collection.settings.product_card.info_para",
      "options": [
        {
          "value": "section_layout_i",
          "label": "t:sections.common.layout.view.options.opt_1.label"
        },
        {
          "value": "section_layout_ii",
          "label": "t:sections.common.layout.view.options.opt_2.label"
        }
      ],
      "default": "section_layout_i"
    },
    {
      "type": "checkbox",
      "id": "show_product_rating",
      "label": "t:sections.common.show_rating.label",
      "default": true,
      "info": "t:sections.common.show_rating.info"
    },
    {
      "type": "checkbox",
      "id": "show_inventory",
      "label": "t:sections.common.show_inventory.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_savings_badge",
      "label": "t:sections.common.show_saving_badge.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "t:sections.common.show_vendor.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_compare_button",
      "label": "t:sections.common.enable_compare.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_quick_add_button",
      "label": "t:sections.common.enable_quick_add.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.common.layout.content"
    },
    {
      "type": "select",
      "id": "section_text_alignment",
      "label": "t:sections.common.text_align.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.common.text_align.options.opt_1.label"
        },
        {
          "value": "center",
          "label": "t:sections.common.text_align.options.opt_2.label"
        },
        {
          "value": "right",
          "label": "t:sections.common.text_align.options.opt_3.label"
        }
      ],
      "default": "left"
    },
    {
      "type": "checkbox",
      "id": "mobile_text_alignment",
      "label": "t:sections.common.cntr_mob.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.common.style.content"
    },
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "default": "scheme1",
      "label": "t:sections.common.clr_scheme.label"
    },
    {
      "type": "header",
      "content": "t:sections.common.slideshow.content"
    },
    {
      "type": "checkbox",
      "id": "enable_slideshow",
      "label": "t:sections.common.slideshow.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "auto_play",
      "label": "t:sections.common.slideshow.auto_play.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_navigation",
      "label": "t:sections.common.slideshow.show_arrows.label",
      "default": true,
      "info": "t:sections.common.slideshow.show_arrows.info"
    },
    {
      "type": "select",
      "id": "pagination",
      "label": "t:sections.common.slideshow.show_nav.label",
      "options": [
        {
          "value": "none",
          "label": "t:sections.common.slideshow.show_nav.options.opt_1.label"
        },
        {
          "value": "dots",
          "label": "t:sections.common.slideshow.show_nav.options.opt_2.label"
        },
        {
          "value": "lines",
          "label": "t:sections.common.slideshow.show_nav.options.opt_3.label"
        },
        {
          "value": "numbers",
          "label": "t:sections.common.slideshow.show_nav.options.opt_4.label"
        }
      ],
      "default": "none"
    },
    {
      "type": "range",
      "id": "change_slides_every",
      "label": "t:sections.common.slideshow.interval.label",
      "min": 2,
      "max": 9,
      "step": 1,
      "default": 5,
      "unit": "s",
      "info": "t:sections.common.slideshow.interval.info"
    },
    {
      "type": "header",
      "content": "t:sections.common.spacing.content"
    },
    {
      "type": "range",
      "id": "section_top_padding",
      "label": "t:sections.common.spacing.top_spac.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 50,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "section_bottom_padding",
      "label": "t:sections.common.spacing.bottom_spac.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 50,
      "unit": "px"
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured_collection.name"
    }
  ]
}
{% endschema %}
