{{ 'image-with-collapsible.css' | asset_url | stylesheet_tag }}

{% assign section_prefix_class = 'image-with-collapsible' %}

{%- style -%}
  .{{ section_prefix_class }}-{{ section.id }}{
    --section-padding-top: {{ section.settings.section_top_padding }}px;
    --section-padding-bottom: {{ section.settings.section_bottom_padding }}px;
  }
{%- endstyle -%}

{% liquid
  assign section_align_class = '--align-left'
  assign collapsible_align_class = '--align-left'
  assign section_scheme_class = ''
  assign section_inner_scheme_class = section.settings.section_color_scheme | prepend: 'scheme scheme--inner-active scheme--'

  if section.settings.section_text_alignment == 'center'
    assign section_align_class = '--align-center'
  elsif section.settings.section_text_alignment == 'right'
    assign section_align_class = '--align-right'
  endif

  if section.settings.collapsible_text_alignment == 'center'
    assign collapsible_align_class = '--align-center'
  elsif section.settings.collapsible_text_alignment == 'right'
    assign collapsible_align_class = '--align-right'
  endif

  if section.settings.section_background_full
    assign section_scheme_class = section.settings.section_color_scheme | prepend: 'scheme scheme--'
    assign section_inner_scheme_class = ''
  endif

  assign section_image_ratio_class = ''
  assign section_image_position_class = ''
  case section.settings.section_image_ratio
    when 'portrait'
      assign section_image_ratio_class = '--portrait-media'
      assign section_image_position_class = '--position-media'
    when 'square'
      assign section_image_ratio_class = '--square-media'
      assign section_image_position_class = '--position-media'
    when 'landscape'
      assign section_image_ratio_class = '--landscape-media'
      assign section_image_position_class = '--position-media'
    else
      assign section_image_ratio_class = '--adapt-media'
  endcase
  assign section_media_size_class = section_image_ratio_class

  assign section_media_alignment = ''
  case section.settings.section_media_alignment
    when 'right'
      assign section_media_alignment = '--media-right'
  endcase
  assign section_media_alignment_class = section_media_alignment

  assign section_media_position = ''
  case section.settings.section_media_position
    when 'top'
      assign section_media_position = '--media-top'
    when 'middle'
      assign section_media_position = '--media-middle'
    when 'bottom'
      assign section_media_position = '--media-bottom'
  endcase
  assign section_media_position_class = section_media_position
  
  capture loading_attr
    if section.index > 1
      echo 'lazy'
      else
        echo 'eager'
    endif
  endcapture
%}

<div
  id="{{ section.id }}"
  class="{{ section_prefix_class }} {{ section_prefix_class }}-{{ section.id }} {{ section_align_class }} {{ section_scheme_class }} {{ section_media_size_class }} {{ section_media_alignment_class }} {{ section_media_position_class }} {{ section_image_position_class }}"
>
  <div class="container">
    <div class="{{ section_inner_scheme_class }}">
      {%- liquid
        unless section.settings.section_heading == blank
          render 'element-header' | elem_header_heading_tag: 'h2'
        endunless
      -%}
      <div class="{{ section_prefix_class }}_wrapper {% if section.settings.image == null %} {{ section_prefix_class }}--no-image {% endif %}">
        {% if section.settings.image != null %}
          <div class="{{ section_prefix_class }}_media-wrap">
            <div class="{{ section_prefix_class }}_thumbnail {% if settings.enable_hover_anims %}anim--shine{% endif %}">
              {%- if section.settings.image != blank -%}
                {{-
                  section.settings.image.src |
                  image_url: width: 840 |
                  image_tag: class: '', alt: '', widths: '540, 840', sizes: '(max-width: 767px) 540vw, 840vw', loading: loading_attr |
                  escape
                -}}
                {%- else -%}
                  {{- 'collection-3' | placeholder_svg_tag: 'img--placeholder' -}}
              {%- endif -%}
            </div>
          </div>
        {% endif %}
        <div
          class="{{ section_prefix_class }}_collapsibles-wrap"
          aria-label="{{ 'sections.image_with_collapsible.a11y.container_aria_label' | t }}"
        >
          {% assign accordion_prefix = 'media-collapsibles_accordion--' %}
          {% for block in section.blocks %}
            <details class="collapsible-row {{ accordion_prefix }}row {{ collapsible_align_class }}" {% if block.settings.defaul_section_open %}open{% endif %} {{ block.shopify_attributes }}>
              <summary
                role="button"
                aria-label="{{ 'sections.image_with_collapsible.a11y.opener_aria_label' | t: index: block.settings.heading }}"
                class="collapsible-row_opener {{ accordion_prefix }}opener"
              >
                {%- render 'element-heading' | elem_heading_tag: 'strong' | elem_heading_parent: 'collapsible-row' | elem_heading_text: block.settings.heading | elem_heading_size: section.settings.collapsible_heading_size -%}
                <i class="collapsible-row_icn">
                  <span class="{{ accordion_prefix }}icnopen">
                    {%- render 'icons-data', width: 10, height: 10, use_icon: true, icon_reference: 'plus' -%}
                  </span>
                  <span class="{{ accordion_prefix }}icnclose">
                    {%- render 'icons-data', width: 10, height: 10, use_icon: true, icon_reference: 'minus' -%}
                  </span>
                </i>
              </summary>
              <div class="collapsible-row_content {{ accordion_prefix }}content">
                {{ block.settings.description }}
              </div>
            </details>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.image_with_collapsible.name",
  "tag": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.common.image.label"
    },
    {
      "type": "select",
      "id": "section_image_ratio",
      "label": "t:sections.common.image.ratio.label",
      "options": [
        {
          "value": "adapt_to_image",
          "label": "t:sections.common.image.ratio.options.opt_1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.common.image.ratio.options.opt_2.label"
        },
        {
          "value": "square",
          "label": "t:sections.common.image.ratio.options.opt_3.label"
        },
        {
          "value": "landscape",
          "label": "t:sections.common.image.ratio.options.opt_4.label"
        }
      ],
      "default": "adapt_to_image"
    },
    {
      "type": "inline_richtext",
      "id": "section_heading",
      "label": "t:sections.common.heading.label",
      "default": "Image with collapsible"
    },
    {
      "type": "select",
      "id": "section_heading_size",
      "label": "t:sections.common.heading.size.label",
      "options": [
        {
          "value": "heading_xx_large",
          "label": "t:sections.common.heading.size.options.opt_1.label"
        },
        {
          "value": "heading_x_large",
          "label": "t:sections.common.heading.size.options.opt_2.label"
        },
        {
          "value": "heading_large",
          "label": "t:sections.common.heading.size.options.opt_3.label"
        },
        {
          "value": "heading_medium",
          "label": "t:sections.common.heading.size.options.opt_4.label"
        },
        {
          "value": "heading_small",
          "label": "t:sections.common.heading.size.options.opt_5.label"
        },
        {
          "value": "heading_x_small",
          "label": "t:sections.common.heading.size.options.opt_6.label"
        },
        {
          "value": "heading_xx_small",
          "label": "t:sections.common.heading.size.options.opt_7.label"
        }
      ],
      "default": "heading_large"
    },
    {
      "type": "richtext",
      "id": "section_description",
      "label": "t:sections.common.description.label"
    },
    {
      "type": "header",
      "content": "t:sections.common.layout.content"
    },
    {
      "type": "select",
      "id": "section_media_alignment",
      "label": "t:sections.common.image.position.label",
      "info": "t:sections.image_with_collapsible.settings.image.info",
      "options": [
        {
          "value": "left",
          "label": "t:sections.common.image.position.options.opt_1.label"
        },
        {
          "value": "right",
          "label": "t:sections.common.image.position.options.opt_2.label"
        }
      ],
      "default": "left"
    },
    {
      "type": "select",
      "id": "section_media_position",
      "label": "t:sections.common.cntnt_pos.large_screens.label",
      "info": "t:sections.image_with_collapsible.settings.content_position.info",
      "options": [
        {
          "value": "top",
          "label": "t:sections.common.cntnt_pos.options_v_align.opt_1.label"
        },
        {
          "value": "middle",
          "label": "t:sections.common.cntnt_pos.options_v_align.opt_2.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.common.cntnt_pos.options_v_align.opt_3.label"
        }
      ],
      "default": "middle"
    },
    {
      "type": "select",
      "id": "section_text_alignment",
      "label": "t:sections.common.text_align.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.common.text_align.options.opt_1.label"
        },
        {
          "value": "center",
          "label": "t:sections.common.text_align.options.opt_2.label"
        },
        {
          "value": "right",
          "label": "t:sections.common.text_align.options.opt_3.label"
        }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "t:sections.image_with_collapsible.settings.collapsible_row.content"
    },
    {
      "type": "select",
      "id": "collapsible_heading_size",
      "label": "t:sections.common.heading.size.label",
      "options": [
        {
          "value": "heading_small",
          "label": "t:sections.common.heading.size.options.opt_5.label"
        },
        {
          "value": "heading_x_small",
          "label": "t:sections.common.heading.size.options.opt_6.label"
        },
        {
          "value": "heading_xx_small",
          "label": "t:sections.common.heading.size.options.opt_7.label"
        }
      ],
      "default": "heading_x_small"
    },
    {
      "type": "select",
      "id": "collapsible_text_alignment",
      "label": "t:sections.common.text_align.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.common.text_align.options.opt_1.label"
        },
        {
          "value": "center",
          "label": "t:sections.common.text_align.options.opt_2.label"
        },
        {
          "value": "right",
          "label": "t:sections.common.text_align.options.opt_3.label"
        }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "t:sections.common.style.content"
    },
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "default": "scheme4",
      "label": "t:sections.common.clr_scheme.label"
    },
    {
      "type": "checkbox",
      "id": "section_background_full",
      "label": "t:sections.image_with_collapsible.settings.make_full.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.common.spacing.content"
    },
    {
      "type": "range",
      "id": "section_top_padding",
      "label": "t:sections.common.spacing.top_spac.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 50,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "section_bottom_padding",
      "label": "t:sections.common.spacing.bottom_spac.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 50,
      "unit": "px"
    }
  ],
  "blocks": [
    {
      "name": "t:sections.image_with_collapsible.blocks.collapsible_row.name",
      "type": "collapsible_row",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "t:sections.common.heading.label",
          "default": "Collapsible row"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "t:sections.common.description.label",
          "default": "<p>Collapsible description</p>"
        },
        {
          "type": "checkbox",
          "id": "defaul_section_open",
          "default": false,
          "label": "t:sections.main_product.blocks.collapse_row.settings.open.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image_with_collapsible.name",
      "blocks": [
        {
          "type": "collapsible_row",
          "settings": {
            "heading": "Collapsible row",
            "description": "<p>Collapsible description</p>",
            "defaul_section_open": true
          }
        },
        {
          "type": "collapsible_row",
          "settings": {
            "heading": "Collapsible row",
            "description": "<p>Collapsible description</p>"
          }
        },
        {
          "type": "collapsible_row",
          "settings": {
            "heading": "Collapsible row",
            "description": "<p>Collapsible description</p>"
          }
        },
        {
          "type": "collapsible_row",
          "settings": {
            "heading": "Collapsible row",
            "description": "<p>Collapsible description</p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}
