{{ 'customer.css' | asset_url | stylesheet_tag }}
{{ 'breadcrumbs.css' | asset_url | stylesheet_tag }}

{% assign section_prefix_class = 'login' %}

{%- style -%}
  .{{ section_prefix_class }}-{{ section.id }}{
    --section-padding-top: {{ settings.auth_section_top_padding }}px;
    --section-padding-bottom: {{ settings.auth_section_bottom_padding }}px;
  }
{%- endstyle -%}

{% liquid
  assign section_scheme_class = settings.auth_section_color_scheme | prepend: 'scheme scheme--'
%}

<div class="{{ section_prefix_class }} {{ section_prefix_class }}-{{ section.id }}">
  <div class="container">
    <div class="{{ section_prefix_class }}_grid">
      {%- if settings.image -%}
        <div class="{{ section_prefix_class }}_column imageColumn">
          {%- render 'element-image' | elem_image: settings.image | elem_image_class: 'login-image' | elem_image_alt_text: 'banner image' -%}
        </div>
      {%- endif -%}
      <div class="{{ section_prefix_class }}_column formColumn">
        <div class="formWrap {{ section_scheme_class }}">
          <h1 class="{{ section_prefix_class }}_form-title mty">
            {{ 'customer.register.title' | t }}
            <strong class="subTitle">{{ 'customer.login_page.subtext' | t }}</strong>
          </h1>
          {%- form 'create_customer', novalidate: 'novalidate' -%}
            {%- if form.errors -%}
              <h2 class="form__message mty visually-hidden" tabindex="-1" autofocus>
                {{ 'templates.contact.form.error_heading' | t }}
              </h2>
              <div class="customer-login_errors-wrap">
                <ul class="errors_list">
                  {%- for field in form.errors -%}
                    <li>
                      {%- if field == 'form' -%}
                        {{ form.errors.messages[field] }}
                      {%- else -%}
                        <smooth-anchor data-offset=".sticky-header-wrapper">
                          <a class="link" href="#RegisterForm-{{ field }}">
                            {{ form.errors.translated_fields[field] | capitalize }}
                            {{ form.errors.messages[field] }}
                          </a>
                        </smooth-anchor>
                      {%- endif -%}
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            {%- endif -%}
            <div class="inputWrap">
              <div class="field">
                <label for="RegisterForm-FirstName" class="visually-hidden">{{ 'customer.register.first_name' | t }}</label>
                <input
                  type="text"
                  name="customer[first_name]"
                  id="RegisterForm-FirstName"
                  {% if form.first_name %}
                    value="{{ form.first_name }}"
                  {% endif %}
                  autocomplete="given-name"
                  placeholder="{{ 'customer.register.first_name' | t }}"
                  class="form-control form-control--secondary"
                >
              </div>
              <div class="field">
                <label for="RegisterForm-LastName" class="visually-hidden">{{ 'customer.register.last_name' | t }}</label>
                <input
                  type="text"
                  name="customer[last_name]"
                  id="RegisterForm-LastName"
                  {% if form.last_name %}
                    value="{{ form.last_name }}"
                  {% endif %}
                  autocomplete="family-name"
                  placeholder="{{ 'customer.register.last_name' | t }}"
                  class="form-control form-control--secondary"
                >
              </div>
              <div class="field">
                <label for="RegisterForm-email" class="visually-hidden">{{ 'customer.register.email' | t }}</label>
                <input
                  type="email"
                  name="customer[email]"
                  id="RegisterForm-email"
                  {% if form.email %}
                    value="{{ form.email }}"
                  {% endif %}
                  spellcheck="false"
                  autocapitalize="off"
                  autocomplete="email"
                  aria-required="true"
                  {% if form.errors contains 'email' %}
                    aria-invalid="true"
                    aria-describedby="RegisterForm-email-error"
                  {% endif %}
                  placeholder="{{ 'customer.register.email' | t }}"
                  class="form-control form-control--secondary"
                >
                {%- if form.errors contains 'email' -%}
                  <span id="RegisterForm-email-error" class="form__message loginError mty">
                    {%- render 'icons-data', width: 20, height: 20, use_icon: true, icon_reference: 'error' -%}
                    {{ form.errors.translated_fields.email | capitalize }}
                    {{ form.errors.messages.email }}.
                  </span>
                {%- endif -%}
              </div>
              <div class="field">
                <label for="RegisterForm-password" class="visually-hidden">{{ 'customer.register.password' | t }}</label>
                <input
                  type="password"
                  name="customer[password]"
                  id="RegisterForm-password"
                  aria-required="true"
                  {% if form.errors contains 'password' %}
                    aria-invalid="true"
                    aria-describedby="RegisterForm-password-error"
                  {% endif %}
                  placeholder="{{ 'customer.register.password' | t }}"
                  class="form-control form-control--secondary"
                >
              </div>
            </div>
            {%- if form.errors contains 'password' -%}
              <span id="RegisterForm-password-error" class="form__message loginError mty">
                {%- render 'icons-data', width: 20, height: 20, use_icon: true, icon_reference: 'error' -%}
                {{ form.errors.translated_fields.password | capitalize }}
                {{ form.errors.messages.password }}.
              </span>
            {%- endif -%}
            <button class="button button--primary login-btn">{{ 'customer.register.submit' | t }}</button>
            <div class="linksWrap">{{ 'customer.register.subtext' | t }} <a href="{{ routes.account_login_url }}" class="loginLink">{{ 'customer.log_in' | t }}</a></div>
          {%- endform -%}
        </div>
      </div>
    </div>
  </div>
</div>