{% assign section_prefix_class = 'main-password' %}

{%- style -%}
  .{{ section_prefix_class }}-{{ section.id }}{
    --section-padding-top: {{ section.settings.section_top_padding }}px;
    --section-padding-bottom: {{ section.settings.section_bottom_padding }}px;
    --section-margin-top: {{ section.settings.section_top_margin }}px;
    --section-margin-bottom: {{ section.settings.section_bottom_margin }}px;
    --logo-width: {{ section.settings.logo_width }}px;
  }
{%- endstyle -%}

{% liquid
  assign section_scheme_class = section.settings.section_color_scheme | prepend: 'scheme--'
  assign widget_scheme_class = section.settings.section_color_scheme | prepend: 'scheme scheme--'
%}

<div class="{{ section_prefix_class }} {{ section_scheme_class }} {{ section_prefix_class }}-{{ section.id }}">
  <div class="container">
    <div class="{{ section_prefix_class }}_wrapper">
      <div>
        <div class="{{ section_prefix_class }}_header">
          <div class="{% if section.settings.logo != blank %}site-logo{% else %} brand-name{% endif %}">
            {%- if section.settings.logo != blank -%}
              {%- render 'element-image' | elem_image: section.settings.logo | elem_image_class: 'image-class' | elem_image_alt_text: shop.name -%}
            {%- else -%}
              <h1 class="mty h4">{{ shop.name }}</h1>
            {%- endif -%}
          </div>
          {%- if shop.password_message != blank -%}
            <div class="{{ section_prefix_class }}_message">
              {{ shop.password_message }}
            </div>
          {%- endif -%}
        </div>
        <div class="{{ section_prefix_class }}_body">
          <div class="{{ widget_scheme_class }} {{ section_prefix_class }}_body-wrap">
            {%- liquid
              render 'element-heading' | elem_heading_tag: 'h1' | elem_heading_parent: section_prefix_class | elem_heading_text: section.settings.heading | elem_heading_size: section.settings.heading_size | elem_heading_custom_class: 'mty'
              
              render 'newsletter-form' | newsletter_form_scheme: 'secondary' | newsletter_form_block: block | newsletter_form_section_prefix: section_prefix_class | newsletter_form_button: 'button'
            -%}
            <modal-component-toggler>
              <button
                type="button"
                data-expanded="false"
                data-modal-ref="modal-password"
                aria-haspopup="dialog"
                aria-controls="{{ section.id }}-modal-password"
                class="password_btn-opener"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  focusable="false"
                  class="ico ico-lock"
                  viewBox="0 0 24 24"
                  width="24"
                  height="24"
                  fill="none"
                >
                  <path d="M4 14V16C4 18 4 22 10 22H14C20 22 20 18 20 16L20 14C20 12 20 8 14 8H10C4 8 4 12 4 14Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
                  <path d="M7 8V6.49999C7 4 8.5 2 12 2C15.5 2 17 4 17 6.49999V8" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
                  <path d="M12 16V18M12 16C10.8954 16 10 15.1046 10 14C10 12.8954 10.8954 12 12 12C13.1046 12 14 12.8954 14 14C14 15.1046 13.1046 16 12 16Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
                </svg>
                <span class="link_text">{{ 'password_page.login_password_button' | t }}</span>
              </button>
            </modal-component-toggler>
            <modal-component
              data-modal="modal-password"
            >
              <div
                class="modal modal-component modal-component--password modal-component--centered {{ section_scheme_class }}"
                role="dialog"
                aria-modal="true"
                aria-labelledby="{{ section.id }}-modal-password-heading"
                aria-describedby="{{ section.id }}-modal-password"
                data-passowrd="true"
                tabindex="-1"
              >
                <div class="modal-component_spacer">
                  <div class="modal-component_wrapper" id="{{ section.id }}-modal-password">
                    <div class="modal-component_body">
                      <strong id="{{ section.id }}-modal-password-heading" class="visually-hidden">{{ 'password_page.login_password_button' | t }}</strong>
                      <div class="modal-component_content">
                        <div class="{{ widget_scheme_class }} {{ section_prefix_class }}_body-wrap">
                          <modal-component-toggler>
                            <button type="button"
                              data-expanded="true"
                              data-toggle-attribute="false"
                              data-modal-ref="modal-password"
                              class="modal-component_btn-close"
                            >
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                aria-hidden="true"
                                focusable="false"
                                class="ico ico-cross"
                                viewBox="0 0 14 14"
                                width="14"
                                height="14"
                                fill="none"
                              >
                                <rect x="11.6399" y="0.0947266" width="2.05766" height="16.4612" rx="1.02883" transform="rotate(45 11.6399 0.0947266)" fill="currentColor"/>
                                <rect x="13.0949" y="11.7346" width="2.05766" height="16.4612" rx="1.02883" transform="rotate(135 13.0949 11.7346)" fill="currentColor"/>
                              </svg>
                              <span class="visually-hidden">{{ 'accessibility.close' | t }}</span>
                            </button>
                          </modal-component-toggler>
                          {%- form 'storefront_password', class: 'password-form' -%}
                            <span class="password-modal__content-heading" id="PasswordModal">
                              {{ 'password_page.login_form_heading' | t }}
                            </span>
                            <div class="password-field field{% if form.errors %} password-field--error{% endif %}">
                              <label for="Password" class="visually-hidden">{{ 'password_page.login_form_password_placeholder' | t }}</label>
                              <input
                                type="password"
                                name="password"
                                id="Password"
                                class="form-control form-control--secondary"
                                autocomplete="current-password"
                                {% if form.errors %}
                                  aria-invalid="true"
                                  aria-describedby="PasswordLoginForm-password-error"
                                {%- endif -%}
                                placeholder="{{ 'password_page.login_form_password_label' | t }}"
                              >
                              {%- if form.errors -%}
                                <div id="PasswordLoginForm-password-error" role="status">
                                  {%- render 'icons-data', width: 20, height: 20, use_icon: true, icon_reference: 'error' -%}
                                  <span class="visually-hidden">{{ 'password_page.login_form_error_text' | t }}</span>
                                  <span class="form__message ">
                                    {{ 'password_page.login_form_error' | t }}
                                  </span>
                                </div>
                              {%- endif -%}
                            </div>
                            <button name="commit" class="password-button button button--primary">
                              {{ 'password_page.login_form_submit' | t }}
                            </button>
                          {%- endform -%}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </modal-component>
            <div class="{{ section_prefix_class }}_footer">
              <p>
                <small class="password__footer-login password__footer-text">{{ 'password_page.admin_link_html' | t }}</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main_password.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main_password.settings.logo.content"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:settings_schema.general.settings.logo_image.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "label": "t:settings_schema.general.settings.logo_size.label",
      "min": 50,
      "max": 300,
      "step": 10,
      "default": 100,
      "unit": "px"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:sections.common.heading.label",
      "default": "Opening Soon"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:sections.common.heading.size.label",
      "options": [
        {
          "value": "heading_xx_large",
          "label": "t:sections.common.heading.size.options.opt_1.label"
        },
        {
          "value": "heading_x_large",
          "label": "t:sections.common.heading.size.options.opt_2.label"
        },
        {
          "value": "heading_large",
          "label": "t:sections.common.heading.size.options.opt_3.label"
        },
        {
          "value": "heading_medium",
          "label": "t:sections.common.heading.size.options.opt_4.label"
        },
        {
          "value": "heading_small",
          "label": "t:sections.common.heading.size.options.opt_5.label"
        },
        {
          "value": "heading_x_small",
          "label": "t:sections.common.heading.size.options.opt_6.label"
        },
        {
          "value": "heading_xx_small",
          "label": "t:sections.common.heading.size.options.opt_7.label"
        }
      ],
      "default": "heading_large"
    },
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "default": "scheme4",
      "label": "t:sections.common.clr_scheme.label"
    },
    {
      "type": "header",
      "content": "t:sections.common.spacing.content"
    },
    {
      "type": "range",
      "id": "section_top_padding",
      "label": "t:sections.common.spacing.top_spac.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 50,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "section_bottom_padding",
      "label": "t:sections.common.spacing.bottom_spac.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 51,
      "unit": "px"
    }
  ]
}
{% endschema %}