{{ 'media-with-text.css' | asset_url | stylesheet_tag }}

{% assign section_prefix_class = 'media-with-text' %}

{%- style -%}
  .{{ section_prefix_class }}-{{ section.id }}{
    --section-padding-top: {{ section.settings.section_top_padding }}px;
    --section-padding-bottom: {{ section.settings.section_bottom_padding }}px;
  }
{%- endstyle -%}

{% liquid
  assign section_align_class = '--align-left'
  assign buttons_align_class = '--justify-content-start'
  assign section_scheme_class = section.settings.section_color_scheme | prepend: 'scheme scheme--'

  if section.settings.section_text_alignment == 'center'
    assign section_align_class = '--align-center'
    assign buttons_align_class = '--justify-content-center'
  elsif section.settings.section_text_alignment == 'right'
    assign section_align_class = '--align-right'
    assign buttons_align_class = '--justify-content-end'
  endif

  if section.settings.section_background_full
    assign section_scheme_class_full = section_scheme_class
    assign section_side_spacing_cont = ''
  else
    assign section_scheme_class_cont = section_scheme_class
    assign section_side_spacing_cont = 'section_side_spacing_cont'
  endif

  if section.settings.mobile_text_alignment
    assign section_align_class_mobile = '--mobile-align-center'
  endif

  case section.settings.pagination
    when 'dots'
      assign slideshow_pagination_style = '--pagination_dots'
      assign slideshow_pagination_appear = ''
    when 'lines'
      assign slideshow_pagination_style = '--pagination_lines'
      assign slideshow_pagination_appear = ''
    when 'numbers'
      assign slideshow_pagination_style = '--pagination_numbers'
      assign slideshow_pagination_appear = ''
    else
      assign slideshow_pagination_style = 'none'
      assign slideshow_pagination_appear = '--pagination_none'
  endcase

  assign product_image_ratio_class = ''
  case section.settings.column_image_ratio
    when 'portrait'
      assign product_image_ratio_class = '--portrait-media'
    when 'square'
      assign product_image_ratio_class = '--square-media'
    when 'landscape'
      assign product_image_ratio_class = '--landscape-media'
    else
      assign product_image_ratio_class = '--adapt-media'
  endcase
  assign section_media_size_class = product_image_ratio_class

  assign section_media_alignment = ''
  case section.settings.section_media_alignment
    when 'right'
      assign section_media_alignment = '--media-right'
  endcase
  assign section_media_alignment_class = section_media_alignment

  assign section_media_position = ''
  case section.settings.section_media_position
    when 'top'
      assign section_media_position = '--media-top'
    when 'middle'
      assign section_media_position = '--media-middle'
    when 'bottom'
      assign section_media_position = '--media-bottom'
  endcase
  assign section_media_position_class = section_media_position
%}

<div class="{{ section_prefix_class }} {{ section_prefix_class }}-{{ section.id }} {{ section_align_class_mobile }} {{ section_align_class }} {{ section_scheme_class_full }} {{ section_media_size_class }} {{ section_media_alignment_class }} {{ section_media_position_class }}">
  <div class="container">
    <div class="{{ section_prefix_class }}_wrapper {{ section_scheme_class_cont }} {{ section_side_spacing_cont }}">
      <div class="{{ section_prefix_class }}_media-wrap">
        {% unless section.blocks.size > 1 %}
          {%- for block in section.blocks -%}
            <div class="{{ section.id }}-{{ block.id }}" {{ block.shopify_attributes }}>
              {%- render 'element-media',
                elem_media_block: block,
                elem_media_parent: section_prefix_class,
                block_index: forloop.index
              -%}
            </div>
          {%- endfor -%}
        {% else %}
          <splide-slider
            data-drag="false"
            data-autoplay="{{ section.settings.auto_play }}"
            data-pause-on-hover="true"
            data-gap="100px"
            {% if request.design_mode == false %}
              data-type="loop"
            {% else %}
              data-type="slide"
            {% endif %}
            data-arrows="{{ section.settings.show_navigation }}"
            {% unless slideshow_pagination_style == 'none' %}
              data-pagination="true"
            {% else %}
              data-pagination="false"
            {% endunless %}
            data-per-page="1"
            data-interval="{{ section.settings.change_slides_every | times: 1000 }}"
            {% unless slideshow_pagination_style == 'none' %}
              data-pagination-style="{{ slideshow_pagination_style }}"
            {% endunless %}
          >
            <div class="splide {{ section_prefix_class }}_slider {{ slideshow_pagination_appear }}">
              <div class="splide__track">
                <div class="splide__list">
                  {%- for block in section.blocks -%}
                    <div
                      class="splide__slide {{ section.id }}-{{ block.id }}"
                      {% if block.settings.pagination_text != blank %}
                        data-slide-title="{{ block.settings.pagination_text }}"
                      {% endif %}
                      {{ block.shopify_attributes }}
                    >
                      {%- render 'element-media',
                        elem_media_block: block,
                        elem_media_parent: section_prefix_class,
                        block_index: forloop.index
                      -%}
                    </div>
                  {%- endfor -%}
                </div>
              </div>
              {%- if section.settings.show_navigation or section.settings.pagination != 'none' -%}
                <div class="splide-controls">
                  {%- if section.settings.show_navigation -%}
                    <button class="splide__arrow splide__arrow--prev">
                      <span class="visually-hidden">{{- 'sections.slideshow.previous_slideshow' | t -}}</span>
                      {%- render 'icons-data', width: 14, height: 14, use_icon: true, icon_reference: 'arrow-left' -%}
                    </button>
                  {%- endif -%}
                  <ul class="splide__pagination" role="tablist" aria-label="{{ 'additions.slideshow.select' | t }}"></ul>
                  {%- if section.settings.show_navigation -%}
                    <button class="splide__arrow splide__arrow--next">
                      <span class="visually-hidden">{{- 'sections.slideshow.next_slideshow' | t -}}</span>
                      {%- render 'icons-data', width: 14, height: 14, use_icon: true, icon_reference: 'arrow-right' -%}
                    </button>
                  {%- endif -%}
                </div>
              {%- endif -%}
            </div>
          </splide-slider>
        {% endunless %}
      </div>
      <div class="{{ section_prefix_class }}_text-wrap mty">
        {%- liquid
          unless section.settings.section_subheading == blank
            render 'element-heading' | elem_heading_tag: 'strong' | elem_heading_parent: section_prefix_class | elem_heading_text: section.settings.section_subheading | elem_heading_size: section.settings.section_subheading_size | elem_heading_custom_class: 'mty'
          endunless

          unless section.settings.section_heading == blank
            render 'element-heading' | elem_heading_tag: 'h2' | elem_heading_parent: section_prefix_class | elem_heading_text: section.settings.section_heading | elem_heading_size: section.settings.section_heading_size | elem_heading_custom_class: 'mty'
          endunless
        -%}

        <div class="text-subtitle mty">
          {{ section.settings.section_description }}
        </div>
        {% unless section.settings.link_label == blank %}
          <footer class="{{ section_prefix_class }}_buttons-wrap {{ buttons_align_class }}">
            {%- render 'element-button' | element_button_label: section.settings.link_label | element_button_link: section.settings.link | element_button_new_window: section.settings.open_new_window -%}
          </footer>
        {% endunless %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.media_with_text.name",
  "tag": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "section_subheading",
      "label": "t:sections.common.subheading.label",
      "default": "Subheading"
    },
    {
      "type": "select",
      "id": "section_subheading_size",
      "label": "t:sections.common.subheading.size.label",
      "options": [
        {
          "value": "heading_xx_large",
          "label": "t:sections.common.heading.size.options.opt_1.label"
        },
        {
          "value": "heading_x_large",
          "label": "t:sections.common.heading.size.options.opt_2.label"
        },
        {
          "value": "heading_large",
          "label": "t:sections.common.heading.size.options.opt_3.label"
        },
        {
          "value": "heading_medium",
          "label": "t:sections.common.heading.size.options.opt_4.label"
        },
        {
          "value": "heading_small",
          "label": "t:sections.common.heading.size.options.opt_5.label"
        },
        {
          "value": "heading_x_small",
          "label": "t:sections.common.heading.size.options.opt_6.label"
        },
        {
          "value": "heading_xx_small",
          "label": "t:sections.common.heading.size.options.opt_7.label"
        }
      ],
      "default": "heading_medium"
    },
    {
      "type": "inline_richtext",
      "id": "section_heading",
      "label": "t:sections.common.heading.label",
      "default": "Media with text"
    },
    {
      "type": "select",
      "id": "section_heading_size",
      "label": "t:sections.common.heading.size.label",
      "options": [
        {
          "value": "heading_xx_large",
          "label": "t:sections.common.heading.size.options.opt_1.label"
        },
        {
          "value": "heading_x_large",
          "label": "t:sections.common.heading.size.options.opt_2.label"
        },
        {
          "value": "heading_large",
          "label": "t:sections.common.heading.size.options.opt_3.label"
        },
        {
          "value": "heading_medium",
          "label": "t:sections.common.heading.size.options.opt_4.label"
        },
        {
          "value": "heading_small",
          "label": "t:sections.common.heading.size.options.opt_5.label"
        },
        {
          "value": "heading_x_small",
          "label": "t:sections.common.heading.size.options.opt_6.label"
        },
        {
          "value": "heading_xx_small",
          "label": "t:sections.common.heading.size.options.opt_7.label"
        }
      ],
      "default": "heading_large"
    },
    {
      "type": "richtext",
      "id": "section_description",
      "label": "t:sections.common.description.label",
      "default": "<p>Pair text with an image or video to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
    },
    {
      "type": "text",
      "id": "link_label",
      "label": "t:sections.common.btn_link.button.label"
    },
    {
      "type": "url",
      "id": "link",
      "label": "t:sections.common.btn_link.button.link.label"
    },
    {
      "type": "checkbox",
      "id": "open_new_window",
      "label": "t:sections.common.btn_link.link.new_window.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.common.layout.content"
    },
    {
      "type": "select",
      "id": "section_media_alignment",
      "label": "t:sections.common.media.position.label",
      "info": "t:sections.media_with_text.settings.image.info",
      "options": [
        {
          "value": "left",
          "label": "t:sections.common.media.position.options.opt_1.label"
        },
        {
          "value": "right",
          "label": "t:sections.common.media.position.options.opt_2.label"
        }
      ],
      "default": "left"
    },
    {
      "type": "select",
      "id": "section_media_position",
      "label": "t:sections.common.cntnt_align.position.label",
      "options": [
        {
          "value": "top",
          "label": "t:sections.common.cntnt_align.options.opt_1.label"
        },
        {
          "value": "middle",
          "label": "t:sections.common.cntnt_align.options.opt_2.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.common.cntnt_align.options.opt_3.label"
        }
      ],
      "default": "middle"
    },
    {
      "type": "select",
      "id": "section_text_alignment",
      "label": "t:sections.common.text_align.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.common.text_align.options.opt_1.label"
        },
        {
          "value": "center",
          "label": "t:sections.common.text_align.options.opt_2.label"
        },
        {
          "value": "right",
          "label": "t:sections.common.text_align.options.opt_3.label"
        }
      ],
      "default": "left"
    },
    {
      "type": "checkbox",
      "id": "mobile_text_alignment",
      "label": "t:sections.common.cntr_mob.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.media_with_text.settings.col_card.content"
    },
    {
      "type": "select",
      "id": "column_image_ratio",
      "label": "t:sections.common.media.ratio.label",
      "options": [
        {
          "value": "adapt_to_image",
          "label": "t:sections.common.image.ratio.options.opt_1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.common.image.ratio.options.opt_2.label"
        },
        {
          "value": "square",
          "label": "t:sections.common.image.ratio.options.opt_3.label"
        },
        {
          "value": "landscape",
          "label": "t:sections.common.image.ratio.options.opt_4.label"
        }
      ],
      "default": "adapt_to_image"
    },
    {
      "type": "header",
      "content": "t:sections.common.style.content"
    },
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "default": "scheme5",
      "label": "t:sections.common.clr_scheme.label"
    },
    {
      "type": "checkbox",
      "id": "section_background_full",
      "label": "t:sections.footer_top.settings.make_full.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.common.slideshow.content"
    },
    {
      "type": "checkbox",
      "id": "auto_play",
      "label": "t:sections.common.slideshow.auto_play.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_navigation",
      "label": "t:sections.common.slideshow.show_arrows.label",
      "default": true,
      "info": "t:sections.common.slideshow.show_arrows.info"
    },
    {
      "type": "select",
      "id": "pagination",
      "label": "t:sections.common.slideshow.show_nav.label",
      "options": [
        {
          "value": "none",
          "label": "t:sections.common.slideshow.show_nav.options.opt_1.label"
        },
        {
          "value": "dots",
          "label": "t:sections.common.slideshow.show_nav.options.opt_2.label"
        },
        {
          "value": "lines",
          "label": "t:sections.common.slideshow.show_nav.options.opt_3.label"
        },
        {
          "value": "numbers",
          "label": "t:sections.common.slideshow.show_nav.options.opt_4.label"
        }
      ],
      "default": "lines"
    },
    {
      "type": "range",
      "id": "change_slides_every",
      "label": "t:sections.common.slideshow.interval.label",
      "min": 2,
      "max": 9,
      "step": 1,
      "default": 5,
      "unit": "s",
      "info": "t:sections.common.slideshow.interval.info"
    },
    {
      "type": "header",
      "content": "t:sections.common.spacing.content"
    },
    {
      "type": "range",
      "id": "section_top_padding",
      "label": "t:sections.common.spacing.top_spac.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 50,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "section_bottom_padding",
      "label": "t:sections.common.spacing.bottom_spac.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 50,
      "unit": "px"
    }
  ],
  "blocks": [
    {
      "name": "t:sections.media_with_text.blocks.image.name",
      "type": "image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.common.image.label"
        },
        {
          "type": "text",
          "id": "pagination_text",
          "label": "t:sections.common.slideshow.paging_text.label",
          "info": "t:sections.common.slideshow.paging_text.info"
        }
      ]
    },
    {
      "name": "t:sections.media_with_text.blocks.video.name",
      "type": "video",
      "settings": [
        {
          "type": "header",
          "content": "t:sections.media_with_text.blocks.video.settings.upload.content"
        },
        {
          "type": "video",
          "id": "upload_video",
          "label": "t:sections.media_with_text.blocks.video.label"
        },
        {
          "type": "header",
          "content": "t:sections.media_with_text.blocks.video.settings.embed.content",
          "info": "t:sections.media_with_text.blocks.video.settings.embed.info"
        },
        {
          "type": "video_url",
          "id": "video_url",
          "label": "t:sections.media_with_text.blocks.video.settings.embed.url.label",
          "accept": [
            "youtube",
            "vimeo"
          ],
          "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
        },
        {
          "type": "image_picker",
          "id": "cover_image",
          "label": "t:sections.media_with_text.blocks.video.settings.cov_image.label"
        },
        {
          "type": "text",
          "id": "alt_text",
          "label": "t:sections.media_with_text.blocks.video.settings.alt_txt.label"
        },
        {
          "type": "text",
          "id": "pagination_text",
          "label": "t:sections.common.slideshow.paging_text.label",
          "info": "t:sections.common.slideshow.paging_text.info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.media_with_text.name",
      "blocks": [
        {
          "type": "image",
          "settings": {
            "image": "",
            "pagination_text": "Image"
          }
        },
        {
          "type": "video",
          "settings": {
            "video_url": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
            "pagination_text": "Video"
          }
        }
      ]
    }
  ]
}
{% endschema %}
