<div id="predictive-search-results" role="listbox">
  {% if predictive_search.resources.products.size > 0 %}
    <ul class="list-unstyled search-tab_items-list --search-tab-products-data">
      {%- for product in predictive_search.resources.products -%}
        {% assign media = null %}
        <li>
          <a href="{{ product.url }}">
            {%- liquid
              if product.selected_or_first_available_variant.featured_media != null
                assign media = product.selected_or_first_available_variant.featured_media
                else
                  for media in product.media
                    assign media = media
                    break
                  endfor
              endif
            -%}
            {% if media != null %}
              <div class="search-tab_item-thumbnail">
                {% render 'element-image' | elem_image: media.preview_image | elem_image_class: 'image-class' | elem_image_placeholder: 'product-1' | elem_image_alt_text: product.title %}
              </div>
            {% endif %}
            <div class="search-tab_description-wrap">
              {%- liquid
                render 'element-heading' | elem_heading_tag: 'strong' | elem_heading_parent: 'search-tab' | elem_heading_text: product.title | elem_heading_size: '' | elem_heading_custom_class: 'mty'
                
                render 'price', product: product
              -%}
            </div>
          </a>
        </li>
        {% if forloop.index > 4 %}
          <button type="submit" class="button predictive-search_show-btn">
            {{ 'sections.header_ut_bar.a11y.search_tabs.show_all_btn' | t }}
            {% liquid 
              if settings.show_buttons_icon
                render 'icons-data', width: 8, height: 6, use_icon: true, icon_reference: 'caret-down'
              endif
            %}
          </button>
          {% break %}
        {% endif %}
      {% endfor %}
    </ul>
    {% else %}
      <div class="--search-tab-products-data --no-search-data">
        <p class="mty">{{ 'sections.header_ut_bar.a11y.search_tabs.no_res' | t }}</p>
      </div>
  {% endif %}
  {% if predictive_search.resources.collections.size > 0 %}
    <ul class="list-unstyled search-tab_items-list --search-tab-collections-data">
      {%- for collection in predictive_search.resources.collections -%}
        <li>
          <a href="{{ collection.url }}">
            {% if collection.featured_image != null %}
              <div class="search-tab_item-thumbnail">
                {%- render 'element-image' | elem_image: collection.featured_image | elem_image_class: 'image-class' | elem_image_placeholder: 'collection-1' | elem_image_alt_text: collection.title -%}
              </div>
            {% endif %}
            <div class="search-tab_description-wrap">
              {%- liquid
                render 'element-heading' | elem_heading_tag: 'strong' | elem_heading_parent: 'search-tab' | elem_heading_text: collection.title | elem_heading_size: '' | elem_heading_custom_class: 'mty'
              -%}
            </div>
          </a>
        </li>
        {% if forloop.index > 4 %}
          <button type="submit" class="button predictive-search_show-btn">
            {{ 'sections.header_ut_bar.a11y.search_tabs.show_all_btn' | t }}
          </button>
          {% break %}
        {% endif %}
      {% endfor %}
    </ul>
    {% else %}
      <div class="--search-tab-collections-data --no-search-data">
        <p class="mty">{{ 'sections.header_ut_bar.a11y.search_tabs.no_res' | t }}</p>
      </div>
  {% endif %}
  {% if predictive_search.resources.articles.size > 0 %}
    <ul class="list-unstyled search-tab_items-list --search-tab-articles-data">
      {%- for article in predictive_search.resources.articles -%}
        <li>
          <a href="{{ article.url }}">
            {% if article.image != null %}
              <div class="search-tab_item-thumbnail">
                {%- render 'element-image' | elem_image: article.image | elem_image_class: 'image-class' | elem_image_placeholder: 'collection-1' | elem_image_alt_text: article.title -%}
              </div>
            {% endif %}
            <div class="search-tab_description-wrap">
              {%- liquid
                render 'element-heading' | elem_heading_tag: 'strong' | elem_heading_parent: 'search-tab' | elem_heading_text: article.title | elem_heading_size: '' | elem_heading_custom_class: 'mty'
              -%}
              <div class="search-tab_description-excerpt">
                {% liquid 
                  echo article.excerpt_or_content | strip_html | truncate: 40, "..." 
                %}
              </div>
            </div>
          </a>
        </li>
        {% if forloop.index > 4 %}
          <button type="submit" class="button predictive-search_show-btn">
            {{ 'sections.header_ut_bar.a11y.search_tabs.show_all_btn' | t }}
          </button>
          {% break %}
        {% endif %}
      {% endfor %}
    </ul>
    {% else %}
      <div class="--search-tab-articles-data --no-search-data">
        <p class="mty">{{ 'sections.header_ut_bar.a11y.search_tabs.no_res' | t }}</p>
      </div>
  {% endif %}
</div>