{{ 'banner-card.css' | asset_url | stylesheet_tag }}
{{ 'promotion-banners.css' | asset_url | stylesheet_tag }}

{% assign section_prefix_class = 'promotion-banners' %}
{%- style -%}
  .{{ section_prefix_class }}-{{ section.id }}{
    --section-padding-top: {{ section.settings.section_top_padding }}px;
    --section-padding-bottom: {{ section.settings.section_bottom_padding }}px;
    --desktop-row-height: {{ section.settings.desktop_row_height }}px;
    --mobile-row-height: {{ section.settings.mobile_row_height }}px;

  }
{%- endstyle -%}

<div class="{{ section_prefix_class }} {{ section_prefix_class }}-{{ section.id }}">
  <div class="container">
    <div class="{{ section_prefix_class }}_wrapper">
      {%- render 'grid-columns', grid_column_blocks: section.blocks, grid_column_card: 'banners', grid_column_section_prefix: section_prefix_class -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.promotion_banners.name",
  "tag": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.common.grid.content"
    },
    {
      "type": "range",
      "id": "desktop_row_height",
      "label": "t:sections.promotion_banners.settings.d_row_height.label",
      "min": 200,
      "max": 400,
      "step": 5,
      "default": 215,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "mobile_row_height",
      "label": "t:sections.promotion_banners.settings.m_row_height.label",
      "min": 150,
      "max": 300,
      "step": 10,
      "default": 150,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "t:sections.common.spacing.content"
    },
    {
      "type": "range",
      "id": "section_top_padding",
      "label": "t:sections.common.spacing.top_spac.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 50,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "section_bottom_padding",
      "label": "t:sections.common.spacing.bottom_spac.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 50,
      "unit": "px"
    }
  ],
  "blocks": [
    {
      "name": "t:sections.promotion_banners.blocks.banner.name",
      "type": "banner",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.common.image.label"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "t:sections.common.btn_link.button.label"
        },
        {
          "type": "select",
          "id": "button_position",
          "label": "t:sections.common.btn_link.button.position.label",
          "options": [
            {
              "value": "bottom_right",
              "label": "t:sections.common.btn_link.button.position.options.opt_1.label"
            },
            {
              "value": "bottom_left",
              "label": "t:sections.common.btn_link.button.position.options.opt_2.label"
            },
            {
              "value": "top_left",
              "label": "t:sections.common.btn_link.button.position.options.opt_3.label"
            },
            {
              "value": "top_right",
              "label": "t:sections.common.btn_link.button.position.options.opt_4.label"
            },
            {
              "value": "bottom_full",
              "label": "t:sections.common.btn_link.button.position.options.opt_5.label"
            }
          ],
          "default": "bottom_right"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.common.btn_link.link.label"
        },
        {
          "type": "checkbox",
          "id": "open_new_window",
          "label": "t:sections.common.btn_link.link.new_window.label",
          "default": false
        },
        {
          "type": "color_scheme",
          "id": "section_color_scheme",
          "default": "scheme6",
          "label": "t:sections.common.clr_scheme.label"
        },
        {
          "type": "header",
          "content": "t:sections.common.layout.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.promotion_banners.blocks.banner.content"
        },
        {
          "type": "range",
          "id": "columns",
          "label": "t:sections.promotion_banners.blocks.banner.settings.cols.label",
          "min": 1,
          "max": 6,
          "step": 1,
          "default": 3
        },
        {
          "type": "range",
          "id": "rows",
          "label": "t:sections.promotion_banners.blocks.banner.settings.rows.label",
          "min": 1,
          "max": 4,
          "step": 1,
          "default": 2
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.promotion_banners.name",
      "blocks": [
        {
          "type": "banner",
          "settings": {
            "image": "",
            "link": "",
            "columns": 3,
            "rows": 2
          }
        },
        {
          "type": "banner",
          "settings": {
            "image": "",
            "link": "",
            "columns": 3,
            "rows": 1
          }
        },
        {
          "type": "banner",
          "settings": {
            "image": "",
            "link": "",
            "columns": 3,
            "rows": 1
          }
        }
      ]
    }
  ]
}
{% endschema %}