{{ 'scrolling-banner.css' | asset_url | stylesheet_tag }}

{% assign section_prefix_class = 'scrolling-banner' %}

{%- style -%}
  .{{ section_prefix_class }}-{{ section.id }}{
    --section-padding-top: {{ section.settings.section_top_padding }}px;
    --section-padding-bottom: {{ section.settings.section_bottom_padding }}px;
  }
{%- endstyle -%}

{% liquid 
  assign section_scheme_class = section.settings.section_color_scheme | prepend: 'scheme scheme--'

  if section.settings.section_separate
    assign section_separate = 'section_border'
  endif
  
  capture loading_attr
    if section.index > 1
      echo 'lazy'
      else
        echo 'eager'
    endif
  endcapture
  
  capture marquee_direction
    if section.settings.marquee_direction == 'marquee_forward'
      echo 'forward'
      else
        echo 'backward'
    endif
  endcapture
%}

<div class="{{ section_prefix_class }} {{ section_prefix_class }}-{{ section.id }} {{ section_scheme_class }} {{ section_separate }}">
  <div class="{% unless section.settings.full_screen_width == true %}container{% endunless %}">
    <div class="{{ section_prefix_class }}_wrapper">
      <marquee-component data-direction="{{ marquee_direction }}" data-pause-on-hover="{{ section.settings.marquee_on_hover }}" data-speed="{{ section.settings.marquee_speed }}">
        <div class="marquee-component">
          {%- for block in section.blocks -%}
            <div class="marquee-component_col">
              <div class="{{ section_prefix_class }}_item {% unless block.settings.stencil_text == false %}--stencil-on{% endunless %} {% unless block.settings.image != blank %}--separator-on{% endunless %}">
                {% unless block.settings.image == blank %}
                  {% unless block.settings.link == blank %}
                    <a href="{{ block.settings.link }}" {% if block.settings.open_new_window %} target="_blank" {% endif %} class="{{ section_prefix_class }}_text-wrap">
                      <span class="{{ section_prefix_class }}_img --{{ block.settings.image_type }}">
                        <img src="{{- block.settings.image.src | image_url: width: 200 -}}" width="200" height="200" loading="{{- loading_attr -}}" class="image-class" alt="">
                      </span>
                      <strong class="{{ section_prefix_class }}_text">{{ block.settings.text }}</strong>
                    </a>
                  {% else %}
                    <div class="{{ section_prefix_class }}_text-wrap">
                      <span class="{{ section_prefix_class }}_img --{{ block.settings.image_type }}">
                        <img src="{{- block.settings.image.src | image_url: width: 200 -}}" width="200" height="200" loading="{{- loading_attr -}}" class="image-class" alt="">
                      </span>
                      <strong class="{{ section_prefix_class }}_text">{{ block.settings.text }}</strong>
                    </div>
                  {% endunless %}
                  {% else %}
                    <div class="{{ section_prefix_class }}_text-wrap --text-simple">
                      <strong class="{{ section_prefix_class }}_text">
                        {% unless block.settings.link == blank %}
                          <a href="{{ block.settings.link }}" {% if block.settings.open_new_window %} target="_blank" {% endif %}>{{ block.settings.text }}</a>
                          {% else %}
                            {{ block.settings.text }}
                        {% endunless %}
                      </strong>
                    </div>
                {% endunless %}
              </div>
            </div>
          {%- endfor -%}
        </div>
      </marquee-component>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.scrolling_banner.name",
  "tag": "aside",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "range",
      "id": "marquee_speed",
      "label": "t:sections.common.scroll.settings.speed.label",
      "min": 1,
      "max": 30,
      "step": 1,
      "default": 20,
      "unit": "sec"
    },
    {
      "type": "select",
      "id": "marquee_direction",
      "label": "t:sections.common.scroll.settings.direction.label",
      "options": [
        {
          "value": "marquee_backward",
          "label": "t:sections.common.scroll.settings.direction.options.opt_1.label"
        },
        {
          "value": "marquee_forward",
          "label": "t:sections.common.scroll.settings.direction.options.opt_2.label"
        }
      ],
      "default": "marquee_backward"
    },
    {
      "type": "checkbox",
      "label": "t:sections.common.scroll.settings.on_hover.label",
      "id": "marquee_on_hover",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "full_screen_width",
      "label": "t:sections.scrolling_banner.settings.full_screen.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "section_separate",
      "label": "t:sections.scrolling_banner.settings.show_bdr.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.common.style.content"
    },
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "default": "scheme1",
      "label": "t:sections.common.clr_scheme.label"
    },
    {
      "type": "header",
      "content": "t:sections.common.spacing.content"
    },
    {
      "type": "range",
      "id": "section_top_padding",
      "label": "t:sections.common.spacing.top_spac.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 30,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "section_bottom_padding",
      "label": "t:sections.common.spacing.bottom_spac.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 30,
      "unit": "px"
    }
  ],
  "blocks": [
    {
      "name": "t:sections.scrolling_banner.blocks.text.name",
      "type": "text",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "t:sections.scrolling_banner.blocks.text.label",
          "default": "Your scrolling text here"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.common.image.label"
        },
        {
          "type": "select",
          "id": "image_type",
          "label": "t:sections.scrolling_banner.blocks.text.settings.image.frame.label",
          "options": [
            {
              "value": "circle",
              "label": "t:sections.scrolling_banner.blocks.text.settings.image.frame.options.opt_1.label"
            },
            {
              "value": "square",
              "label": "t:sections.scrolling_banner.blocks.text.settings.image.frame.options.opt_2.label"
            },
            {
              "value": "landscape",
              "label": "t:sections.scrolling_banner.blocks.text.settings.image.frame.options.opt_3.label"
            }
          ],
          "default": "square"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.common.btn_link.link.label"
        },
        {
          "type": "checkbox",
          "id": "open_new_window",
          "label": "t:sections.common.btn_link.link.new_window.label",
          "default": false
        },
        {
          "type": "header",
          "content": "t:sections.scrolling_banner.blocks.text.settings.stencil.content",
          "info": "t:sections.scrolling_banner.blocks.text.settings.stencil.info"
        },
        {
          "type": "checkbox",
          "id": "stencil_text",
          "label": "t:sections.scrolling_banner.blocks.text.settings.stencil.label",
          "default": false
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.scrolling_banner.name",
      "blocks": [
        {
          "type": "text",
          "settings": {
            "text": "Last chance to buy!",
            "image_type": "circle",
            "stencil_text": false
          }
        },
        {
          "type": "text",
          "settings": {
            "text": "Last chance to buy!",
            "image_type": "square",
            "stencil_text": true
          }
        },
        {
          "type": "text",
          "settings": {
            "text": "Last chance to buy!",
            "image_type": "landscape",
            "stencil_text": false
          }
        },
        {
          "type": "text",
          "settings": {
            "text": "Last chance to buy!",
            "image_type": "circle",
            "stencil_text": true
          }
        }
      ]
    }
  ]
}
{% endschema %}