{% layout none %}

<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <script src="{{ 'vendor/qrcode.js' | shopify_asset_url }}" defer></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_background }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    {%- assign formatted_balance = gift_card.balance | money_without_trailing_zeros | strip_html -%}

    <title>{{ 'gift_card.issued.title' | t: value: formatted_balance, shop: shop.name }}</title>
    <meta name="description" content="Your gift card">

    {{ content_for_header }}

    {% render 'theme-variables' %}
    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'template-giftcard.css' | asset_url | stylesheet_tag }}
  </head>
  <body>
    <div class="gradient gift-card scheme scheme--{{ settings.gift_card_color_scheme }}">
      <div class="{% if settings.gft_logo != blank %}site-logo{% else %} brand-name{% endif %}" style="--logo-width: {{ settings.gft_logo_width }}px;">
        {%- if settings.gft_logo != blank -%}
          {%- render 'element-image' | elem_image: settings.gft_logo | elem_image_class: 'image-class' | elem_image_alt_text: shop.name -%}
        {%- else -%}
          <h1 class="mty h4">{{ shop.name }}</h1>
        {%- endif -%}
      </div>
      <h2 class="gift-card__title mty h1">{{ 'gift_card.heading' | t }}</h2>
      <div class="gift-card__price">
        <strong>
          {% if settings.show_currency_code %}
            {{ gift_card.balance | money_with_currency }}
          {% else %}
            {{ gift_card.balance | money }}
          {% endif %}
        </strong>
        {%- if gift_card.enabled == false or gift_card.expired -%}
          <p class="badge badge--{{ settings.sold_out_badge_color_scheme }}">{{ 'gift_card.expired' | t }}</p>
        {%- endif -%}
      </div>
      <div class="gift-card__expire-date">
        {% if gift_card.expires_on %}
          {%- assign gift_card_expiration_date = gift_card.expires_on | date: '%B %e, %Y' -%}
          <p class="gift-card__text">
            {{ 'gift_card.expire' | t: date: gift_card_expiration_date }}
          </p>
        {% endif %}
      </div>
      <div class="gift-card__image-wrapper">
        {%- render 'image-gift-card' -%}
      </div>
      <div class="gift-card__qr-code" data-identifier="{{ gift_card.qr_identifier }}"></div>
      <p id='gift-card-code' class="gift-card__number">
        {{ gift_card.code | format_code }}
      </p>
      {%- if gift_card.pass_url -%}
        <a href="{{ gift_card.pass_url }}" class="gift_card__apple-wallet no-print">
          <img
            src="{{ 'gift-card/add-to-apple-wallet.svg' | shopify_asset_url }}"
            width="120"
            height="40"
            alt="Add to Apple Wallet"
            loading="lazy"
          >
        </a>
      {%- endif -%}
      <div class="gift-card__buttons no-print">
        <button class="button gift-card__copy-button">{{ 'gift_card.copy' | t }}</button>
        <span class="gift-card__copy-success form__message" role="status"></span>
        <template>
          {%- render 'icons-data', width: 10, height: 10, use_icon: true, icon_reference: 'check-circle' -%}
          {{ 'gift_card.copied' | t }}
        </template>
      </div>
      <div class="btnWrap no-print">
        <a
          href="{{ routes.all_products_collection_url }}"
          class="button button--primary"
          target="_blank"
          rel="noopener"
        >{{- 'sections.cart.continue_shopping' | t -}}</a>
        <button type="button" id="print-card" class="button button--secondary">{{ 'gift_card.print' | t }}</button>
      </div>
    </div>
    <script>
      var string = { qrImageAlt: 'QR code — scan to redeem gift card' };
      document.addEventListener('DOMContentLoaded', function() {
       new QRCode( document.querySelector('.gift-card__qr-code'), {
        text: document.querySelector('.gift-card__qr-code').dataset.identifier,
        width: 120,
        height: 120,
        imageAltText: string.qrImageAlt
        });
      });
      var template = document.getElementsByTagName("template")[0];
      var clonedTemplate = template.content.cloneNode(true);
      var isMessageDisplayed = false
      document
      .querySelector('.gift-card__copy-button')
      .addEventListener('click', () => {
        navigator.clipboard.writeText(document.getElementById('gift-card-code').innerText).then(function () {
          if (!isMessageDisplayed) {
            document.querySelector('.gift-card__copy-success').appendChild(clonedTemplate);
            isMessageDisplayed = true
          }
        });
      });
      
      {% comment %} Print Card Function {% endcomment %}
      document.getElementById("print-card").addEventListener("click", function() {
        window.print();
      });
    </script>
  </body>
</html>

